<!--The content below is only a placeholder and can be replaced.-->
<div class="auth">
  <div class="auth__container">
    <div class="auth__container__logo">
      <img src="./../assets/image/logo_unexbank.png" alt="Logo" class="auth__container__logo_img">
    </div>
    <form action="" class="authForm">
      <div class="auth__container__text">
        Введите логин и пароль:
      </div>
      <ul class="auth__container__list">
        <li class="auth__container__item">
          <img src="./../assets/image/auth_user.png" alt="user" class="auth__container__item_img">
          <input type="text" class="auth__container__item_login" placeholder="Логин">
        </li>
        <li class="auth__container__item">
          <img src="./../assets/image/auth_lock.png" alt="lock" class="auth__container__item_img">
          <input type="text" class="auth__container__item_pass" placeholder="Пароль">
        </li>
        <li class="auth__container__item">
          <button class="auth__container__item_button">Enter</button>
        </li>
        <li class="auth__container__item">
          <a href="#" class="auth__container__item_link">Забыли пароль?</a>
        </li>
      </ul>
    </form>
  </div>
</div>

