<div class="role">
  <header class="role__header">
    <div class="role__header__logo">
      <img src="./../../assets/image/logo_unexbank.png" alt="Logo" class="role__header__logo_img">
    </div>
    <div class="role__header__logo__search">
      <form action="" class="role__header__logo__search_form">
        <input type="text" class="role__header__logo__search_input" placeholder="ПОШУК">
        <span class="role__header__logo__search__submit"><i class="fa fa-search" aria-hidden="true"></i></span>
      </form>
    </div>
  </header>
  <section class="role__container">
    <aside class="role__container__aside">
      <div class="role__container__aside__id">
        <div class="role__container__aside__id__up">
          <img src="" alt="Photo" class="role__container__aside__id__up_photo">
          <div class="role__container__aside__id__up__name">
            <span class="role__container__aside__id__up__name_text">Manager Lorem</span>
          </div>
        </div>
        <button class="role__container__aside__id_button">Вихід</button>
      </div>
      <button class="role__container__aside_button">Створити заявку</button>
      <ul class="role__container__aside__list">
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_work"></div>
          <span class="role__container__aside__item_text">В роботі</span>
        </li>
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_send"></div>
          <span class="role__container__aside__item_text">Відправлені</span>
        </li>
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_returnme"></div>
          <span class="role__container__aside__item_text">Повернені мені</span>
        </li>
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_returnbyme"></div>
          <span class="role__container__aside__item_text">Повернені мною</span>
        </li>
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_ok"></div>
          <span class="role__container__aside__item_text">Погоджені</span>
        </li>
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_cancel"></div>
          <span class="role__container__aside__item_text">Відхілені</span>
        </li>
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_archive"></div>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_control"></div>
          <span class="role__container__aside__item_text">Для контролю</span>
        </li>
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_verification"></div>
          <span class="role__container__aside__item_text">Для веріфікації</span>
        </li>
        <li class="role__container__aside__item">
          <div class="role__container__aside__item_icon_consideration"></div>
          <span class="role__container__aside__item_text">Для розгляду</span>
        </li>

      </ul>
    </aside>
    <main class="role__container__main">
      <table class="main__table">
        <thead class="main__table__head">
          <tr >
            <th class="main__table__head__th">
              <span class="main__table__head__th_text">Номер заявки</span>
            </th>
            <th class="main__table__head__th">
              <span class="main__table__head__th_text">Дата заявки</span>
            </th>
            <th class="main__table__head__th">
              <span class="main__table__head__th_text">Позичальник</span>
            </th>
            <th class="main__table__head__th">
              <span class="main__table__head__th_text">ІПН</span>
            </th>
            <th class="main__table__head__th">
              <span class="main__table__head__th_text">Відділення</span>
            </th>
            <th class="main__table__head__th">
              <span class="main__table__head__th_text">Відповідальний</span>
            </th>
            <th class="main__table__head__th">
              <span class="main__table__head__th_text">Продукт</span>
            </th>
            <th class="main__table__head__th">
              <span class="main__table__head__th_text">Сума</span>
            </th>
            <th class="main__table__head__th">
              <span class="main__table__head__th_text">Статус</span>
            </th>
          </tr>
        </thead>
        <tbody class="main__table__body">
          <tr>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">1</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">09.06.17</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">А.Андрієвська</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">123456</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">29</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">В.Приходько</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">Кредитна картка</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">20 000</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">На перевірці</span>
            </td>
          </tr>

          <tr>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">1</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">09.06.17</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">А.Андрієвська</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">123456</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">29</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">В.Приходько</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">Кредитна картка</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">20 000</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">На перевірці</span>
            </td>
          </tr>

          <tr>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">1</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">09.06.17</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">А.Андрієвська</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">123456</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">29</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">В.Приходько</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">Кредитна картка</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">20 000</span>
            </td>
            <td class="main__table__body_td">
              <span class="main__table__body__td_text">На перевірці</span>
            </td>
          </tr>

        </tbody>
      </table>
    </main>
  </section>
</div>
