<div class="role">
  <header class="role__header">
    <div class="role__header__logo">
      <img src="./../../assets/image/logo_unexbank.png" alt="Logo" class="role__header__logo_img">
    </div>
    <div class="role__header__logo__search">
      <form action="" class="role__header__logo__search_form">
        <input type="text" class="role__header__logo__search_input" placeholder="ПОШУК">
        <span class="role__header__logo__search__submit"><i class="fa fa-search" aria-hidden="true"></i></span>
      </form>
    </div>
  </header>
  <section class="role__container">
    <aside class="role__container__aside">
      <div class="role__container__aside__id">
        <div class="role__container__aside__id__up">
          <img src="" alt="Photo" class="role__container__aside__id__up_photo">
          <div class="role__container__aside__id__up_name">Manager Lorem</div>
        </div>
        <button class="role__container__aside__id_button">Вихід</button>
      </div>
      <button class="role__container__aside_button">Створити заявку</button>
      <ul class="role__container__aside__list">
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
        <li class="role__container__aside__item">
          <span class="role__container__aside__item_icon"></span>
          <span class="role__container__aside__item_text">Архів заявок</span>
        </li>
      </ul>
    </aside>
  </section>
</div>
