.role {
  width: 100%;
  height: 100%; }
  .role .role__header:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .role .role__header {
    padding: 10px; }
    .role .role__header:before, .role .role__header:after {
      content: "";
      display: table; }
    .role .role__header:after {
      clear: both; }
    .role .role__header .role__header__logo {
      float: left;
      width: 20%;
      display: inline-block;
      vertical-align: middle; }
      .role .role__header .role__header__logo .role__header__logo_img {
        width: 100%;
        max-width: 218px; }
    .role .role__header .role__header__search:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .role .role__header .role__header__search {
      float: left;
      width: 80%;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding: 0 30px; }
      .role .role__header .role__header__search .role__header__search_input {
        width: 100%;
        position: relative;
        height: 30px;
        padding: 0 40px 0 10px;
        background: #f2f2f2;
        font-size: 14px;
        border: 1px solid #e3e3e3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px; }
      .role .role__header .role__header__search .role__header__search__submit {
        position: absolute;
        top: 56%;
        right: 30px;
        color: #0fab4b;
        font-size: 12px;
        border-left: 1px solid #e3e3e3;
        padding: 0 5px; }
      .role .role__header .role__header__search .role__header__search__submit:before {
        content: "";
        position: absolute;
        left: -18px;
        bottom: -3px;
        border: 6px solid transparent;
        border-top: 6px solid #4a4a4a; }
      .role .role__header .role__header__search .role__header__search__client {
        position: fixed;
        background-color: #ffffff;
        z-index: 2;
        box-shadow: 0px 8px 18px 0 rgba(168, 175, 170, 0.71);
        padding: 25px 15px; }
        .role .role__header .role__header__search .role__header__search__client .role__header__search__client__list {
          border-bottom: 1px solid #e1e1e1; }
          .role .role__header .role__header__search .role__header__search__client .role__header__search__client__list:before, .role .role__header .role__header__search .role__header__search__client .role__header__search__client__list:after {
            content: "";
            display: table; }
          .role .role__header .role__header__search .role__header__search__client .role__header__search__client__list:after {
            clear: both; }
          .role .role__header .role__header__search .role__header__search__client .role__header__search__client__list .role__header__search__client__item {
            padding: 20px 15px;
            font-size: 12px;
            border: 1px solid #e1e1e1;
            float: left;
            width: 50%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px; }
  .role .role__container:before, .role .role__container:after {
    content: "";
    display: table; }
  .role .role__container:after {
    clear: both; }
  .role .role__container .role__container__aside {
    width: 20%;
    border-top: 2px solid #ce1613;
    text-align: center;
    float: left; }
    .role .role__container .role__container__aside .role__container__aside__id {
      margin: 10px 15px 0;
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 15px; }
      .role .role__container .role__container__aside .role__container__aside__id .role__container__aside__id__up {
        text-align: left; }
        .role .role__container .role__container__aside .role__container__aside__id .role__container__aside__id__up:before, .role .role__container .role__container__aside .role__container__aside__id .role__container__aside__id__up:after {
          content: "";
          display: table; }
        .role .role__container .role__container__aside .role__container__aside__id .role__container__aside__id__up:after {
          clear: both; }
        .role .role__container .role__container__aside .role__container__aside__id .role__container__aside__id__up .role__container__aside__id__up_photo {
          width: 48px;
          height: 48px;
          -webkit-border-radius: 24px;
          -moz-border-radius: 24px;
          -ms-border-radius: 24px;
          border-radius: 24px;
          background-color: red;
          margin-right: 5px;
          float: left; }
        .role .role__container .role__container__aside .role__container__aside__id .role__container__aside__id__up .role__container__aside__id__up__name {
          font-size: 13px;
          line-height: 48px;
          height: 48px;
          text-align: center; }
          .role .role__container .role__container__aside .role__container__aside__id .role__container__aside__id__up .role__container__aside__id__up__name .role__container__aside__id__up__name_text {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            line-height: normal;
            font-size: 13px;
            color: #4f4f4f; }
      .role .role__container .role__container__aside .role__container__aside__id .role__container__aside__id_button {
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        border-radius: 12px;
        border: 1px solid #ce1613;
        color: #ce1613;
        background: #ffffff;
        font-size: 13px;
        padding: 0 10px; }
    .role .role__container .role__container__aside .role__container__aside_button {
      height: 40px;
      background: #419562;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      box-shadow: 0 5px 13px 0 rgba(15, 171, 75, 0.35);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px;
      margin: 10px 0; }
    .role .role__container .role__container__aside .role__container__aside__list {
      padding: 10px 0; }
      .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item:hover {
        border-left: 4px solid red;
        box-shadow: 0px 8px 57px 0 rgba(210, 210, 210, 0.49); }
      .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item:hover:after {
        content: "";
        position: absolute;
        right: 0;
        top: 15px;
        border: 10px solid transparent;
        border-right: 10px solid #ededed; }
      .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item {
        height: 50px;
        text-align: left;
        padding: 10px 20px;
        position: relative; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item div {
          height: 25px;
          width: 25px;
          float: left;
          margin-right: 10px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_work {
          background: url("./../../assets/image/archive.png") no-repeat 0 0px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_send {
          background: url("./../../assets/image/archive.png") no-repeat 0 -47px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_returnme {
          background: url("./../../assets/image/archive.png") no-repeat 0 -97px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_returnbyme {
          background: url("./../../assets/image/archive.png") no-repeat 0 -147px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_ok {
          background: url("./../../assets/image/archive.png") no-repeat 0 -195px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_cancel {
          background: url("./../../assets/image/archive.png") no-repeat 0 -245px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_archive {
          background: url("./../../assets/image/archive.png") no-repeat 0 -295px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_control {
          background: url("./../../assets/image/archive.png") no-repeat 0 -343px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_verification {
          background: url("./../../assets/image/archive.png") no-repeat 0 -390px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_icon_consideration {
          background: url("./../../assets/image/archive.png") no-repeat 0 -440px; }
        .role .role__container .role__container__aside .role__container__aside__list .role__container__aside__item .role__container__aside__item_text {
          text-transform: uppercase;
          font-size: 14px;
          color: #4c4c4c; }
  .role .role__container .role__container__main {
    border: 15px solid #ededed;
    padding: 15px 8px;
    width: 80%;
    float: right; }
    .role .role__container .role__container__main .main__table {
      table-layout: auto;
      width: 100%;
      border-collapse: collapse; }
      .role .role__container .role__container__main .main__table .main__table__head tr {
        font-size: 12px;
        font-weight: bold;
        border: 1px solid #e1e1e1; }
        .role .role__container .role__container__main .main__table .main__table__head tr .main__table__head__th {
          border: 1px solid #e1e1e1;
          padding: 25px 15px; }
          .role .role__container .role__container__main .main__table .main__table__head tr .main__table__head__th span:after {
            content: "";
            position: absolute;
            left: -10px;
            top: 40%;
            border: 5px solid transparent;
            border-top: 5px solid #419562; }
          .role .role__container .role__container__main .main__table .main__table__head tr .main__table__head__th span {
            position: relative; }
      .role .role__container .role__container__main .main__table .main__table__body tr:hover {
        box-shadow: 0 9px 7px 0 rgba(0, 81, 31, 0.35); }
      .role .role__container .role__container__main .main__table .main__table__body tr {
        background-color: #fbdddc;
        font-size: 13px;
        text-align: center;
        opacity: 0.57; }
        .role .role__container .role__container__main .main__table .main__table__body tr .main__table__body_td {
          padding: 25px 15px;
          border-bottom: 1px solid #dee1e2; }

/*# sourceMappingURL=role.component.css.map */
